# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# Android
android/.gradle/
android/.idea/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Flutter/Generated.xcconfig

# macOS
macos/Flutter/Flutter-Release.xcconfig

# Coverage
coverage/

# System files
.DS_Store
*.swp
*.swo
*~
.vscode/
.idea/
